version: "3.9"

services:

  mysql:
    image: mysql:8.0
    container_name: gsms-mysql
    restart: always
    environment:
      MYSQL_DATABASE: gsms_users
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongodb:
    image: mongo:7
    container_name: gsms-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: gsms-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mysql_data:
  mongo_data:
